:root{
    --blacks: #141414;
    --whites: #F5F5F5;
    --greys: #8b8b8b;
}
@font-face {
    font-family: "Inter-Regular";
    src: url(assets/fonts/Inter_28pt-Regular.ttf);
}
@font-face {
    font-family: "Inter-Medium";
    src: url(assets/fonts/Inter_28pt-Medium.ttf);
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url(assets/fonts/Inter_28pt-SemiBold.ttf);
}
@font-face {
    font-family: "Inter-Bold";
    src: url(assets/fonts/Inter_28pt-Bold.ttf);
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url(assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(assets/fonts/Montserrat-Bold.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.container{
    padding-left: 3rem;
    padding-right: 3rem;
}
.extra-pad{
    padding-left: 5rem;
    padding-right: 5rem;
}
.header{
    background-color: var(--blacks);
}
.is--header{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--whites);
    font-size: 0.6rem;
    font-family: "Montserrat-SemiBold";
}
.logo a{
    color: var(--whites);
    cursor: pointer;
}
.cta-ham-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

}
.header-cta{
    padding: 1rem 2rem;
    text-decoration: none;
    background-color: var(--whites);
    color: var(--blacks);
    font-family: "Inter-Regular";
    border-radius: 50rem;
}

.hamburger-btn{
    border: 1px solid var(--whites);
    width: 3.2rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    cursor: pointer;
}
.hamburger-btn img , .close-wrap img{
    width: 1.5rem;
}
section{
    background-color: var(--blacks);
}
.hero-landing{

    width: 100%;
}
.hero-wrap{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}
.herotext{
    color: var(--whites);
    font-size: 5rem;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
}
.hero-cta, .is-button{
    padding: 0.9rem 1.7rem;
    background-color: #434343;
    text-decoration: none;
    color: var(--whites);
    font-family: "Inter-Regular";
    text-transform: uppercase;
    border-radius: 50rem;
    transition: all .4s ease-in-out;
}
.hero-cta:hover, .is-button:hover{
    background-color: #848484;
}
.heroimg{
    padding-top: 6rem;
    width: 100%;
}
.heroimg img{
    width: 100%;
    height: 60rem;
    object-fit: cover;
    object-position: center center   
}
.know-us{
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.content-wrap{
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.content-header-container h2{
    color: var(--whites);
    font-size: 4.5rem;
    font-family: "Montserrat-Medium";
    text-transform: uppercase;
}
.content-body{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.content-body p{
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 2.2rem;
}
.marquee{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1.5rem;
}
.marquee-content{
    display: flex;
    gap: 1rem;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}
.marquee-content h1{
    color: var(--whites);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
}
.reverse{
    animation-direction: reverse;
}
/* marquee animation*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(-100% - 1rem));
    }
}
.our-works{
    padding-top: 7rem;
}
.content-header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
.reversedd{
    display: flex !important;
    flex-direction: row !important;
}
.content-header h2{
    color: var(--whites);
    font-size: 4.5rem;
    font-family: "Montserrat-Medium";
    text-transform: uppercase;
}
.content-header p {
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 2.2rem;
}
.portfolio-wrap{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.portfolio-image{
    width: 100%;
    height: 65em;
    object-fit: cover;
}
.portfolio-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.portfolio-title-serv h3{
    color: var(--whites);
    font-family: "Montserrat-Regular";
    font-size: 2.5rem;
    text-transform: uppercase;
}
.portfolio-title-serv p{
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 1.6rem;
    font-weight: normal;
    padding-top: 0.5rem;
}

.circle-button-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.circle-button-wrap a{
    text-decoration: none;
    background-color: #434343;
    color: var(--whites);
    width: 7rem;
    height: 7rem;
    border-radius: 100rem;
    font-family: "Inter-Regular";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.circle-button-wrap a:hover{
    background-color: #848484;
}
.works-header{
    padding-top: 7rem;
}
.header-wrap{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header-wrap h1{
    color: var(--whites);
    font-size: 5rem;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
}
.header-wrap p{
    color: var(--whites);
    font-size: 2rem;
    font-family: "Inter-Regular";
}
.about-smalltext{
    padding-top: 19rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contentss-wrap h1{
    text-align: center;
    color: var(--whites);
    font-size: 2rem;
    font-family: "Inter-Regular";
}
.client-logos-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 4rem;
}
.button-wrp{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.footer-cta{
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    padding-bottom: 4rem;
}
.cta-wrapp{
    padding: 4rem;
    background-color: var(--whites);
    width: 70%;
}
.cta-wrapp h1{
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 3rem;
}
.main-cta-bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-cta-bottom p{
    font-family: "Inter-Regular";
    font-size: 1.5rem;
    text-transform: uppercase;
}
.footer{
    padding-top: 5rem;
    overflow: hidden;
    padding-bottom: 0;
}
.footerbigtext{

    font-size: 17.8rem;
    color: #2F2E2E;
    font-family: "Montserrat-SemiBold";
    margin-bottom: -4.2rem;
}
.footer-top{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.footer-item h4{
    color: var(--whites);
    font-family: "Montserrat-Regular";
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 1rem;
}
.footer-item p{
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.for-footer{
    display: flex;
    justify-content: center;
}
/*Swiper Styles*/
/*.grid-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    gap: 3rem;
} */
.card-slider-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust based on number of cards */
    gap: 3rem;
    animation: sliderr 20s linear infinite;
  }
  
  @keyframes sliderr {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  .card-slider-wrapper:hover {
    animation-play-state: paused;
  }
  
  .values-wrap {
    padding-top: 4rem;
    overflow: hidden;
  }
  
  .card {
    width: 485px !important;
  }
  
  .card-wrap {
    width: 485px;
  }
  
  .card-img {
    width: 485px;
    height: 563px;
  }
  
  .card-img img {
    width: 100%;
    object-fit: cover;
  }
  
  .card-details {
    padding-top: 1.5rem;
  }
  
  .card-details h3 {
    color: var(--whites);
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  .card-details p {
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 1rem;
    line-height: 1.3;
    padding-top: 0.5rem;
  }
  
.faq-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.active-faq{
    color: var(--whites) !important;
}
.accordions{
    width: 500px;
}
.faqsection{
    padding-top: 10rem;

}
.rightside{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.questions{
    font-family: "Montserrat-Medium";
    text-transform: uppercase;
    font-size: 2rem;
    color: #f5f5f56e;
}
.rightside sup{
    padding-right: 1rem;
}
.quest-wrap{
    display:flex ;
    justify-content: space-between;
}
.quest-wrap h3{
    color: var(--whites);
    font-family: "Inter-Regular";
    font-size: 1.5rem;
}
.quest-wrap p{
    color: var(--whites);
}
.answer-wrap{
    padding-top: 2rem;
}
.answer p{
    color: var(--whites);
    font-family: "Inter-Regular";
    padding-top: 1rem;
    line-height: 1.5;
}
/*Overlay Styling*/

.overlay{
    width: 100%;
    height: 100vh;
    background-color: var(--blacks);
    position: fixed;
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    z-index: 9999999;
    transform: translateY(-100vh);
    transition: all 2s ease-in-out;
}
.overlay-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--whites);
}
.close-btn{
    border: 1px solid var(--whites);
    padding: 1rem;
    border-radius: 500rem;
    cursor: pointer;
}

.menu-link-item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.menu-link{
    text-decoration: none;
    overflow: hidden;
}
.menu-link p{
    color: var(--whites);
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    font-size: 5rem;
    transform: translateY(60rem);
}
.menu-text{
    transition: all 1.2s ease-in-out;
}
/*Tabs and Accordion Styling*/

.tabs{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 5rem;
}
.tab-btn{
    background-color: transparent;
    border: 0px;
    transition: all .3s ease-in-out;
}
.active-tab h2{
    color: var(--whites) !important;
}
 .tab-btn h2{
    color: var(--greys);
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
 }
 .tab-btn h2 sup{
    padding-right: 1rem;
 }
 .tab-content .tab-contents {
    width: 100%;
    display: none;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.tab-content .tab-contents.active-content {
    display: block !important;
}

 .tab-contents h3 {
    color: var(--whites);
 }
 /*.spacer-wrap{
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
 }
 .spacer-line{
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--whites);
    width: 85%;

 }*/
.accordion-content{
    margin-top: 2rem;
    border-top: 1px solid var(--whites);
    padding-top: 3rem;

}
.accordion-content .label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    cursor: pointer;
}
.accordion-content .label h3{
    font-family: "Inter-Regular";
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 2rem;

}
.accordion-content .label::before{
    content: '+';
    color: var(--whites);
    font-size: 1.5rem;

}
.accordion-content.active-toggle .label::before{
    content: '-';
    color: var(--whites);
    font-size: 2rem;

}
.accordion-content .acc-answer p{
    color: #C0C0C0;
    font-family: "Inter-Regular";
    width: 60%;
}
.accordion .accordion-content .acc-answer{
    overflow: hidden;
    height: 0vh;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
}
.accordion .accordion-content.active-toggle .acc-answer{
    height: auto !important;
}
.swiper {
    width: 600px;
    height: 300px;
  }

/*Responsive Breakpoints*/

/* 2xl */
@media (max-width:1920px){

}
/* xl */
@media (max-width:1288px){

}
/* lg */
@media (max-width:1024px){

}
/* md */
@media (max-width:768px){

}
/* sm */
@media (max-width:640px){

}
/* sm */
@media (max-width:600px){

}
@media (max-width:518px){

}
/* xs */
@media (max-width:475px){

}

@media (max-width:390px){

}
@media (max-width:375px){

}